body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.header,
.footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: #1f2937;
    color:white;
    width:100%
    padding-inline: 50px;
    gap: 20px;
}

.footer{
    justify-content: center;
    width:100%;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
}

ul{
    display:flex;
    flex-direction:row;
    gap:16px;
    margin:5px;
    list-style-type:none;
}

.hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #1f2937;
}

.hero1{
    display:flex;
    flex-direction:row;
    background-color: #1f2937;
    color:white;
    font-weight:700;
    padding: 100px;
    gap:100px;

}

.hero2{
    display:flex;
    flex-direction:column;
    color: #F9FAF8;
    font-size:48px;
    width:300px;
}
.hero3 {
    color: #E5E7EB;
    font-size:18px

}
.butt1{
    border-radius: 5px;
    background-color:#3882F6;
    border-color:#3882f6;
    color: white;
    padding: 5px;
    font-weight:600;
}

.info{
    background-color: white;
    color: #1F2937;
    font-style: extra-bold;
    font-size: 36px;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%; 
    padding-top:30px;
    padding-bottom:50px;
}

.infobox{
        display:flex;
        flex-direction:row;
        gap: 30px;
        font-weight:bolder;
}


.infotext{
    font-size:14px;
    width:200px;
    height:auto;
}

img.rounded-corner{
    border-radius: 20px;  
    border-color: #474c53;
    border-width:3px;
}

.quote{
    display:flex;
    align-items:center;
    background-color:#E5E7Eb;
    font-size:36px;
    font-style:italic;
    color:#1F2937;



}